body {
    font: 14px/1.2 "Microsoft YaHei",Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
    color: #999;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.2;
}

*,:before,:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#xjEditorApp {
    /*background-color: #d0cfd8 !important;*/
    height: 100%;
    /*overflow-y: scroll;*/
}

.xjEditor {
    position: relative;
}

.xjBG {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d0cfd8 !important;
}

/* menu area */
.xjMBackground {
    position: fixed;
    background: gray;
    width: 100%;
    z-index: 999;
}

.xjMArea {
    position: relative;
    width: 322px;
    margin: 0 auto;
    padding: 15px;
}

/* right part */
.xjProperty {
    position: fixed;
    right: 0;
    top: 64px;
    bottom: 0;
    width: 260px;
    background: #f7f7f7;
}

.XJPArea {
    padding: 2px;
}

/* center part */
.xjPhone {
    position: relative;
    top: 64px;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 322px;
    margin: 0 auto;
}

.xjPhone .top {
    height: 42px;
    background: url(/assets/images/yulan_phone_top.png) no-repeat;
    background-size: 100%
}

.xjPhone .phone_menubar {
    background: url(/assets/images/phonetitle1.gif);
    height: 20px;
}

.scene_title_baner {
    height: 40px;
    line-height: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    border-left: 1px solid #F6F6F6;
    border-right: 1px solid #F6F6F6;
}

.xjPhone .bottom {
    height: 47px;
    background: url(/assets/images/yulan_phone_bottom.png) no-repeat;
    text-align: center;
    background-size: 100%;
}

.xjPhone .tips {
    margin-top: 5px;
    text-align: center;
}

/* content */
.xjEWrapper {
    position: relative;
    height: 486px;
    border: 1px solid black;
    background: #fff;
}

.xjEArea>li {
    color: #676767;
    line-height: 1;
    background: 0;
    position: absolute;
    list-style: none!important;
    margin: 0!important;
    padding: 0;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    transition: padding .5s;
    min-height: 24px;
    min-width: 24px;
    width: 100%;
    -webkit-user-select: none
}

.xjEArea>li * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.xjComp {
    position: absolute;
}

.xjText {
    font-size: 24px;
    color: #404449;
    line-height: inherit;
    padding: .3em 15px;
    margin: 0;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    text-align: left
}

.xjImage {
    width: 100%;
    height: 100%;
}

.xjGrid {
    position: absolute;
    top: 142px;
    left: 0;
    right: 0;
    height: 486px;
    border: 1px dashed #ddd;
    border-top-width: 0
}

/*component bar*/

.bar {
    position: absolute;
    z-index: 998;
}

.bar-n {
    width: 100%;
    height: 5px;
    top: 0;
    cursor: n-resize;
    background: url(/assets/images/bar-1px.png) repeat-x
}

.bar-n div {
    position: absolute;
    left: 50%;
    top: -6px;
    margin-left: -6px
}

.bar-s {
    width: 100%;
    height: 5px;
    bottom: 0;
    cursor: s-resize;
    background: url(/assets/images/bar-1px.png) repeat-x bottom
}

.bar-s div {
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -6px
}

.bar-e {
    width: 5px;
    height: 100%;
    top: 0;
    right: 0;
    cursor: e-resize;
    background: url(/assets/images/bar-1px.png) repeat-y right
}

.bar-e div {
    position: absolute;
    top: 50%;
    right: -6px;
    margin-top: -6px
}

.bar-w {
    width: 5px;
    height: 100%;
    top: 0;
    cursor: w-resize;
    background: url(/assets/images/bar-1px.png) repeat-y
}

.bar-w div {
    position: absolute;
    top: 50%;
    left: -6px;
    margin-top: -6px
}

.bar-ne {
    top: -6px;
    right: -6px;
    cursor: ne-resize
}

.bar-nw {
    top: -6px;
    left: -6px;
    cursor: nw-resize
}

.bar-se {
    bottom: -6px;
    right: -6px;
    cursor: se-resize
}

.bar-sw {
    bottom: -6px;
    left: -6px;
    cursor: sw-resize
}

.bar-radius {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #08a1ef;
    border-radius: 12px
}

.bar-rotate {
    top: -30px;
    left: 50%;
    margin-left: -6px;
    background-color: #9ad64b;
    border: none;
    cursor: url(/assets/images/mouserotate.ico) 10 10,default
}

.bar-line {
    width: 2px;
    height: 18px;
    top: -18px;
    left: 50%;
    margin-left: -1px;
    background-color: #9ad64b
}
